*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background: #0079bf;
	background-image: url("https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
	background-position: center;
}
nav {
	background: #026aa7;
	padding: 10px;
	text-align: center;
	position: fixed;
	width: 100%;
}
nav a {
	text-decoration: none;
	font-size: 18px;
	margin: 0 10px;
	color: #f1f1f1;
}
.main-content {
	display: flex;
	padding: 60px 20px 0;
}
.items-container {
	flex-shrink: 0;
	padding: 10px;
	width: 300px;
	background: #ebecf0;
	border-radius: 3px;
	margin: 5px;
	cursor: move;
	align-self: flex-start;
	border-radius: 5px;
	color: white;
	backdrop-filter: blur(4px) saturate(180%);
	-webkit-backdrop-filter: blur(4px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.63);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}
.top-container {
	display: flex;
	justify-content: space-between;
}
.top-container button,
li button {
	border-radius: 5px;
	width: 20px;
	height: 20px;
	border: none;
	background: #e23c5d;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}
.item {
	color: #000;
	padding: 15px 5px;
	margin: 10px 0;
	background: #f8f8f8;
	box-shadow: 0.5px 1.5px 1px rgba(255, 255, 255, 0.4);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 5px;
}
.add-item-btn,
.add-container-btn {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	margin-top: 20px;
	font-size: 16px;
}
.add-item-btn {
	cursor: pointer;
	border-radius: 5px;
}
form {
	display: none;
	padding: 5px;
	position: relative;
}
.form-new-item {
	margin-top: 1.5rem;
	border: 1px dashed #ccc;
}
.top-form-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-content form label {
	display: block;
	font-size: 18px;
	margin: 10px 0;
}
.main-content form input {
	display: block;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
}
.validation-msg {
	display: block;
	color: crimson;
	font-size: 16px;
	padding: 5px 0;
}
.close-form-btn {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 5px;
}
button[type="submit"] {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 5px;
}

/* Add New Container */
.add-new-container {
	flex-shrink: 0;
	padding: 10px;
	width: 300px;
	background: #f1f1f1;
	border-radius: 3px;
	margin: 10px;
	cursor: pointer;
	align-self: flex-start;
	border-radius: 5px;
	color: white;
	backdrop-filter: blur(4px) saturate(180%);
	-webkit-backdrop-filter: blur(4px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.63);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}
.add-container-btn {
	margin-top: 5px;
	width: 100%;
}
